{% extends 'base.html.twig' %}

{% block title %}Game{% endblock %}

{% block body %}
    <h1>Game</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ game.id }}</td>
            </tr>
            <tr>
                <th>Event_date</th>
                <td>{{ game.eventDate ? game.eventDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Away_score</th>
                <td>{{ game.awayScore }}</td>
            </tr>
            <tr>
                <th>Home_score</th>
                <td>{{ game.homeScore }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('game_index') }}">back to list</a>

    <a href="{{ path('game_edit', {'id': game.id}) }}">edit</a>

    {{ include('game/_delete_form.html.twig') }}
{% endblock %}
